@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(94.912% 0.00011 271.152 / 0.904);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

/* Card styles from styled-components */
.parent {
  width: 300px;
  padding: 20px;
  perspective: 1000px;
}

.card {
  padding-top: 50px;
  border: 3px solid rgb(255, 255, 255);
  transform-style: preserve-3d;
  background: linear-gradient(135deg,#0000 18.75%,#f3f3f3 0 31.25%,#0000 0),
      repeating-linear-gradient(45deg,#f3f3f3 -6.25% 6.25%,#ffffff 0 18.75%);
  background-size: 60px 60px;
  background-position: 0 0, 0 0;
  background-color: #f0f0f0;
  width: 100%;
  box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.card:hover {
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
  background: rgba(4, 193, 250, 0.732);
  transition: all 0.5s ease-in-out;
  padding: 60px 25px 25px 25px;
  transform-style: preserve-3d;
}

.content-box .card-title {
  display: inline-block;
  color: black;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
}

.content-box .card-title:hover {
  transform: translate3d(0px, 0px, 60px);
}

.content-box .card-content {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: black;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 30px);
}

.content-box .card-content:hover {
  transform: translate3d(0px, 0px, 60px);
}

.content-box .see-more {
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 900;
  font-size: 9px;
  text-transform: uppercase;
  color: black;
  background: white;
  padding: 0.5rem 0.7rem;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.content-box .see-more:hover {
  transform: translate3d(0px, 0px, 60px);
}

.date-box {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 60px;
  width: 60px;
  background: white;
  border: 1px solid rgb(7, 185, 255);
  padding: 10px;
  transform: translate3d(0px, 0px, 80px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
}

.date-box span {
  display: block;
  text-align: center;
}

.date-box .month {
  color: black;
  font-size: 13px;
  font-weight: 700;
}

.date-box .date {
  font-size: 12px;
  font-weight: 900;
  color: black;
}

/* QuizButton styles */
.quiz-button-wrapper .btn-wrapper {
  --dot-size: 6px;
  --line-weight: 1px;
  --line-distance: 0.9rem 1.1rem;
  --animation-speed: 0.35s;
  --dot-color: #666;
  --line-color: #999;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: var(--line-distance);
  background-color: #0000;
  transition: background-color 0.3s ease-in-out;
  user-select: none;
}

.quiz-button-wrapper .btn-wrapper:has(.btn:hover) {
  animation: backround-color-change calc(var(--animation-speed) * 4) ease-in-out forwards;
}

@keyframes backround-color-change {
  80% {
    background-color: #0000;
  }
  100% {
    background-color: #e5ff0055;
  }
}

.quiz-button-wrapper .btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.25rem;
  background-color: #e5ff00;
  background-image: linear-gradient(#0000, #0004);
  border: none;

  color: #0008;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;

  border-radius: 30% / 200%;
  cursor: pointer;

  box-shadow:
    0 0 0px 1px #0003,
    0px 1px 1px rgba(3, 7, 18, 0.02),
    0px 5px 4px rgba(3, 7, 18, 0.04),
    0px 12px 9px rgba(3, 7, 18, 0.06),
    0px 20px 15px rgba(3, 7, 18, 0.08),
    0px 32px 24px rgba(3, 7, 18, 0.1);

  transition:
    background-color 0.2s ease-in-out,
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out,
    border-radius 0.3s ease-in-out,
    border-color 0.2s ease-in-out;
}

.quiz-button-wrapper .btn:hover {
  background-color: #fff;
  transform: scale(1.05);
  border-radius: 10% / 200%;
}

.quiz-button-wrapper .btn:active {
  background-color: #e5ff00;
  transform: scale(0.98);
  border-radius: 20% / 200%;
}

.quiz-button-wrapper .btn-svg {
  margin-left: 0.5rem;
  height: 24px;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #0007;
  fill: #fffa;
  transition: all 0.3s ease-in-out;
}

.quiz-button-wrapper .btn:hover .btn-svg {
  stroke: #0008;
  fill: #e5ff00;
}

.quiz-button-wrapper .btn:active .btn-svg {
  stroke: #0009;
  fill: #f1ff76;
}

/* Dots */
.quiz-button-wrapper .dot {
  position: absolute;
  width: var(--dot-size);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--dot-color);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.quiz-button-wrapper .btn-wrapper:has(.btn:hover) .dot.top.left {
  top: 50%;
  left: 20%;
  animation: move-top-left var(--animation-speed) ease-in-out forwards;
}

@keyframes move-top-left {
  90% {
    opacity: 0.6;
  }
  100% {
    top: calc(var(--dot-size) * -0.5);
    left: calc(var(--dot-size) * -0.5);
    opacity: 1;
  }
}

.quiz-button-wrapper .btn-wrapper:has(.btn:hover) .dot.top.right {
  top: 50%;
  right: 20%;
  animation: move-top-right var(--animation-speed) ease-in-out forwards;
  animation-delay: calc(var(--animation-speed) * 0.6);
}

@keyframes move-top-right {
  80% {
    opacity: 0.6;
  }
  100% {
    top: calc(var(--dot-size) * -0.5);
    right: calc(var(--dot-size) * -0.5);
    opacity: 1;
  }
}

.quiz-button-wrapper .btn-wrapper:has(.btn:hover) .dot.bottom.right {
  bottom: 50%;
  right: 20%;
  animation: move-bottom-right var(--animation-speed) ease-in-out forwards;
  animation-delay: calc(var(--animation-speed) * 1.2);
}

@keyframes move-bottom-right {
  80% {
    opacity: 0.6;
  }
  100% {
    bottom: calc(var(--dot-size) * -0.5);
    right: calc(var(--dot-size) * -0.5);
    opacity: 1;
  }
}

.quiz-button-wrapper .btn-wrapper:has(.btn:hover) .dot.bottom.left {
  bottom: 50%;
  left: 20%;
  animation: move-bottom-left var(--animation-speed) ease-in-out forwards;
  animation-delay: calc(var(--animation-speed) * 1.8);
}

@keyframes move-bottom-left {
  80% {
    opacity: 0.6;
  }
  100% {
    bottom: calc(var(--dot-size) * -0.5);
    left: calc(var(--dot-size) * -0.5);
    opacity: 1;
  }
}

/* Lines */
.quiz-button-wrapper .line {
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.quiz-button-wrapper .line.horizontal {
  height: var(--line-weight);
  width: 100%;
  background-image: repeating-linear-gradient(
    90deg,
    #0000 0 calc(var(--line-weight) * 2),
    var(--line-color) calc(var(--line-weight) * 2) calc(var(--line-weight) * 4)
  );
}

.quiz-button-wrapper .line.top {
  top: calc(var(--line-weight) * -0.5);
}

.quiz-button-wrapper .line.bottom {
  bottom: calc(var(--line-weight) * -0.5);
}

.quiz-button-wrapper .line.vertical {
  width: var(--line-weight);
  height: 100%;
  background-image: repeating-linear-gradient(
    0deg,
    #0000 0 calc(var(--line-weight) * 2),
    var(--line-color) calc(var(--line-weight) * 2) calc(var(--line-weight) * 4)
  );
}

.quiz-button-wrapper .line.left {
  left: calc(var(--line-weight) * -0.5);
}

.quiz-button-wrapper .line.right {
  right: calc(var(--line-weight) * -0.5);
}

.quiz-button-wrapper .line.top {
  transform-origin: top left;
  transform: rotate(5deg) scaleX(0);
}

.quiz-button-wrapper .btn-wrapper:has(.btn:hover) .line.top {
  animation: draw-top var(--animation-speed) ease-in-out forwards;
  animation-delay: calc(var(--animation-speed) * 0.8);
}

@keyframes draw-top {
  100% {
    transform: rotate(0deg) scaleX(1);
  }
}

.quiz-button-wrapper .line.bottom {
  transform-origin: bottom right;
  transform: rotate(5deg) scaleX(0);
}

.quiz-button-wrapper .btn-wrapper:has(.btn:hover) .line.bottom {
  animation: draw-bottom var(--animation-speed) ease-in-out forwards;
  animation-delay: calc(var(--animation-speed) * 2);
}

@keyframes draw-bottom {
  100% {
    transform: rotate(0deg) scaleX(1);
  }
}

.quiz-button-wrapper .line.left {
  transform-origin: bottom left;
  transform: rotate(0deg) scaleY(0);
}

.quiz-button-wrapper .btn-wrapper:has(.btn:hover) .line.left {
  animation: draw-left var(--animation-speed) ease-in-out forwards;
  animation-delay: calc(var(--animation-speed) * 2.4);
}

@keyframes draw-left {
  100% {
    transform: rotate(0deg) scaleY(1);
  }
}

.quiz-button-wrapper .line.right {
  transform-origin: top right;
  transform: rotate(5deg) scaleY(0);
}

.quiz-button-wrapper .btn-wrapper:has(.btn:hover) .line.right {
  animation: draw-right var(--animation-speed) ease-in-out forwards;
  animation-delay: calc(var(--animation-speed) * 1.4);
}

@keyframes draw-right {
  100% {
    transform: rotate(0deg) scaleY(1);
  }
}